<li class="collection-card">
    <div class="image">
        {% if collection.image == blank %}
            {{ 'image' | placeholder_svg_tag }}
        {% else %}
            <img src="{{ collection.image | image_url: width: 600 }}" alt="{{ collection.image.alt }}" />
        {% endif %}
    </div>
    <div class="title">
        <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a>
    </div>
</li>