<nav role="navigation">
  <ul>
    {% for link in linklists[selected_menu].links %}
      {% assign has_sub_menu = false %}
      {% assign has_sub_categories = false %}
      {% assign parent_link_active = false %}
      {% assign child_list_handle = link.title | handle %}
      {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
        {% assign has_sub_menu = true %}
        {% for l in linklists[child_list_handle].links %}
          {% if handle != blank and handle == l.object.handle %}
            {% assign parent_link_active = true %}
          {% elsif page_title == l.title %}
            {% assign parent_link_active = true %}
          {% endif %}
        {% endfor %}
      {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
        {% assign has_sub_categories = true %}
      {% endif %}

      <li data-menu="{{ link.title }}" class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
        
        {% if has_sub_menu or has_sub_categories %}
          {% if dropdown_type == 'classic_dropdown' %}
            <details>
              <summary>
                <span class="top-level">
                  {{ link.title }}
                </span>
                {% if has_sub_menu or has_sub_categories %} {% render 'icon--arrow-down' %}{% endif %}
              </summary>
              
                <div class="navbar-submenu {{ link.title }}">
                  <ul>
                    {% if has_sub_menu %}
                      {% for l in linklists[child_list_handle].links %}
                        <li class="{% if l.active %} active{% endif %}">
                          <a class="low-level" href="{{ l.url }}">
                            <span >{{ l.title }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              
            </details>
          {% endif %}
        {% else %}
          <a href="{{ link.url }}">
            <span class="top-level">{{ link.title }}</span>
          </a>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</nav>
