<div class="footer-row">

    {% comment %} 
    //==================
    // LEFT
    //==================
    {% endcomment %}
    <div class="left-logo">

        <div class="branding">
            <div class="logo">
                <a href="{{ shop.url }}" title="{{ shop.name }}">
                    <img src="{{ section.settings.site_logo | image_url: width: 600 }}" alt="{{ section.settings.site_logo.alt }}" />
                </a>
            </div>
            <div class="site-description">
                <p>{{ section.settings.site_description }}</p>
            </div>
        </div>

        <div class="menu-one">
            {% for block in section.blocks %}
                {% if forloop.index == 1 %}
                    <div class="title">
                        <h3>{{ block.settings.menu_title }}</h3>
                    </div>
                    <div class="menu">
                        {% for link in block.settings.menu.links %}
                            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="menu-two">
            {% for block in section.blocks %}
                {% if forloop.index == 1 %}
                    <div class="title">
                        <h3>{{ block.settings.menu_title }}</h3>
                    </div>
                    <div class="menu">
                        {% for link in block.settings.menu.links %}
                            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

    {% comment %} 
    //==================
    // CENTER
    //==================
    {% endcomment %}
    <div class="center-logo">

        <div class="menu-one">
            {% for block in section.blocks %}
                {% if forloop.index == 1 %}
                    <div class="title">
                        <h3>{{ block.settings.menu_title }}</h3>
                    </div>
                    <div class="menu">
                        {% for link in block.settings.menu.links %}
                            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="branding">
            <div class="logo">
                <a href="{{ shop.url }}" title="{{ shop.name }}">
                    <img src="{{ section.settings.site_logo | image_url: width: 600 }}" alt="{{ section.settings.site_logo.alt }}" />
                </a>
            </div>
            <div class="site-description">
                <p>{{ section.settings.site_description }}</p>
            </div>
        </div>

        <div class="menu-two">
            {% for block in section.blocks %}
                {% if forloop.index == 1 %}
                    <div class="title">
                        <h3>{{ block.settings.menu_title }}</h3>
                    </div>
                    <div class="menu">
                        {% for link in block.settings.menu.links %}
                            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

    <div class="attribution">
        {{ section.settings.attribution }}
        {% if section.settings.copyright_selector == true %}
            {{ shop.name }} {{ 'Copyright &copy;' }} {{ "now" | date: "%Y" }}
        {% endif %}
    </div>

</div>

{% schema %}
    {
      "name": "Footer",
      "tag": "footer",
      "class": "footer-section",
      "limit": 1,
      "settings": [
        {
            "type": "select",
            "id": "footer_selection",
            "label": "Footer Layout",
            "options": [
                {
                    "value": "left_logo",
                    "label": "Left Logo"
                },
                {
                    "value": "center_logo",
                    "label": "Center Logo"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "site_logo",
            "label": "Logo"
        },
        {
          "type": "textarea",
          "id": "site_description",
          "label": "Site Description"
        },
        {
          "type": "text",
          "id": "attribution",
          "label": "Attribution"
        },
        {
            "type": "select",
            "id": "attribution_align",
            "label": "Attribution Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "copyright_selector",
            "label": "Show Copyright",
            "default": true
        },
        {
            "type": "range",
            "id": "side_padding",
            "label": "Side Padding",
            "min": 0,
            "max": 24,
            "step": 1,
            "default": 12
        },
        {
            "type": "range",
            "id": "bottom_margin",
            "label": "Space Below",
            "default": 60,
            "min": 0,
            "max": 100,
            "step": 1
        }
      ],
      "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "limit": 2,
            "settings": [
                {
                    "type": "text",
                    "id": "menu_title",
                    "label": "Menu Title"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Footer"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}
    