{{ 'component--hero-slideshow.css' | asset_url | stylesheet_tag }}

{% case section.settings.hero_mode %}

  {% when 'slideshow_mode' %}
    <div class="swiper hero-swiper">
      
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">

            {% if block.settings.image == blank %}
              <div class="slide-image">
                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% else %}
              <div class="slide-image">
                <img src="{{ block.settings.image | image_url: width: 2200 }}" alt="{{ block.settings.image.alt }}" />
              </div>
            {% endif %}

            <div class="slide-text">
              <p>{{ block.settings.subtitle }}</p>
              <h2>{{ block.settings.title }}</h2>
            </div>

          </div>
        {% endfor %}
      </div>


      {% comment %} 
      //=========================
      // OVERLAY NAVIGATION
      //=========================
      {% endcomment %}
      {% if section.settings.hero_nav_mode == 'overlay_navigation' %}
        <div class="swiper-navigation overlay">

          <div class="left">
            <div class="swiper-pagination"></div>
          </div>
          
          <div class="right">
            <div class="swiper-button-prev">
              {{ 'Prev' | escape }}
            </div>
            <div class="swiper-button-next">
              {{ 'Next' | escape }}
            </div>
          </div>

        </div>
      {% endif %}

      {% comment %} 
      //=========================
      // BELOW NAVIGATION
      //=========================
      {% endcomment %}
      {% if section.settings.hero_nav_mode == 'below_navigation' %}
        <div class="swiper-navigation below">

          <div class="left">
            <div class="swiper-pagination"></div>
          </div>
          
          <div class="right">
            <div class="swiper-button-prev">
              {{ 'Prev' | escape }}
            </div>
            <div class="swiper-button-next">
              {{ 'Next' | escape }}
            </div>
          </div>

        </div>
      {% endif %}
    </div>
  {% when 'single_banner' %}
    <div class="hero-banner">
      {% for block in section.blocks %}
        {{ block.settings.banner_image }}
      {% endfor %}
    </div>
          
{% endcase %}

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "hero_mode",
          "label": "Hero Mode",
          "default": "slideshow_mode",
          "options": [
            {
              "value": "slideshow_mode",
              "label": "Slideshow"
            },
            {
              "value": "single_banner",
              "label": "Single Banner"
            }
          ]
        },
        {
          "type": "select",
          "id": "hero_nav_mode",
          "label": "Navigation Mode",
          "default": "below_navigation",
          "options": [
            {
              "value": "overlay_navigation",
              "label": "Overlay"
            },
            {
              "value": "below_navigation",
              "label": "Below"
            }
          ]
        }
      ],
      "blocks": [
        {
          "name": "Slideshow Slide",
          "type": "slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Subtitle"
            },
            {
              "type": "textarea",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "url",
              "id": "destination",
              "label": "URL"
            }
          ]
        },
        {
          "name": "Image Banner",
          "type": "banner",
          "settings": [
            {
              "type": "image_picker",
              "id": "banner_image",
              "label": "Image"
            },
            {
              "type": "url",
              "id": "destination",
              "label": "URL"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hero",
          "settings": {
            "hero_mode": "slideshow_mode"
          }
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}