{{ 'component--hero-slideshow.css' | asset_url | stylesheet_tag }}

<style>
  .hero-swiper {
    margin-bottom: {{ section.settings.hero_margin_bottom }}px;
  }
  .swiper-slide {
    opacity: {{ section.settings.hero_image_tint }};
  }
</style>

{% case section.settings.hero_mode %}

  {% when 'slideshow_mode' %}
    <div class="swiper hero-swiper">
      
      <div class="swiper-wrapper">
        {% for block in section.blocks %}

          <style>
            .slide-text h3.subtitle {
              font-size: {{ block.settings.subtitle_size }}px;
              line-height: {{ block.settings.subtitle_lineheight }};
            }
            .slide-text h2.title {
              font-size: {{ block.settings.title_size }}px;
              line-height: {{ block.settings.title_lineheight }};
            }

            @media screen and (max-width: 767px) {
              .slide-text h3.subtitle {
                font-size: {{ block.settings.subtitle_size_mobile }}px;
                line-height: {{ block.settings.subtitle_lineheight_mobile }};
              }
              .slide-text h2.title {
                font-size: {{ block.settings.title_size_mobile }}px;
                line-height: {{ block.settings.title_lineheight_mobile }};
              }
            }
          </style>

          <div class="swiper-slide">

            {% if block.settings.image == blank %}
              <div class="slide-image">
                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% else %}
              <div class="slide-image">
                <img src="{{ block.settings.image | image_url: width: 2200 }}" alt="{{ block.settings.image.alt }}" />
              </div>
            {% endif %}

            <div class="slide-text">
              <h3 class="subtitle">{{ block.settings.subtitle }}</h3>
              <h2 class="title">{{ block.settings.title }}</h2>
            </div>

          </div>
        {% endfor %}
      </div>


      {% comment %} 
      //=========================
      // OVERLAY NAVIGATION
      //=========================
      {% endcomment %}
      {% if section.settings.hero_nav_mode == 'overlay_navigation' %}
        <div class="swiper-navigation overlay">

          <div class="left">
            <div class="swiper-pagination"></div>
          </div>
          
          <div class="right">
            <div class="swiper-button-prev">
              {{ 'Prev' | escape }}
            </div>
            <div class="swiper-button-next">
              {{ 'Next' | escape }}
            </div>
          </div>

        </div>
      {% endif %}

      {% comment %} 
      //=========================
      // BELOW NAVIGATION
      //=========================
      {% endcomment %}
      {% if section.settings.hero_nav_mode == 'below_navigation' %}
        <div class="swiper-navigation below">

          <div class="left">
            <div class="swiper-pagination"></div>
          </div>
          
          <div class="right">
            <div class="swiper-button-prev">
              {{ 'Prev' | escape }}
            </div>
            <div class="swiper-button-next">
              {{ 'Next' | escape }}
            </div>
          </div>

        </div>
      {% endif %}
    </div>
  {% when 'single_banner' %}
    <div class="hero-banner">
      {% for block in section.blocks %}
        {{ block.settings.banner_image }}
      {% endfor %}
    </div>
          
{% endcase %}

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "settings": [
        {
          "type": "select",
          "id": "hero_mode",
          "label": "Hero Mode",
          "default": "slideshow_mode",
          "options": [
            {
              "value": "slideshow_mode",
              "label": "Slideshow"
            },
            {
              "value": "single_banner",
              "label": "Single Banner"
            }
          ]
        },
        {
          "type": "select",
          "id": "hero_nav_mode",
          "label": "Navigation Mode",
          "default": "below_navigation",
          "options": [
            {
              "value": "overlay_navigation",
              "label": "Overlay"
            },
            {
              "value": "below_navigation",
              "label": "Below"
            }
          ]
        },
        {
          "type": "range",
          "id": "hero_image_tint",
          "label": "Tint",
          "default": 0.8,
          "min": 0.1,
          "max": 1.0,
          "step": 0.1
        },
        {
          "type": "range",
          "id": "hero_margin_bottom",
          "label": "Spacing",
          "default": 60,
          "min": 30,
          "max": 100,
          "step": 1
        }
      ],
      "blocks": [
        {
          "name": "Slideshow Slide",
          "type": "slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image (Desktop)"
            },
            {
              "type": "image_picker",
              "id": "image_mobile",
              "label": "Image (Mobile)"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Subtitle"
            },
            {
              "type": "range",
              "id": "subtitle_size",
              "label": "Subtitle Size (Desktop)",
              "min": 14,
              "max": 24,
              "step": 1,
              "default": 18
            },
            {
              "type": "range",
              "id": "subtitle_size_mobile",
              "label": "Subtitle Size (Mobile)",
              "min": 10,
              "max": 18,
              "step": 1,
              "default": 14
            },
            {
              "type": "range",
              "id": "subtitle_lineheight",
              "label": "Subtitle Lineheight (Desktop)",
              "min": 0.5,
              "max": 1.5,
              "step": 0.1,
              "default": 0.9
            },
            {
              "type": "range",
              "id": "subtitle_lineheight_mobile",
              "label": "Subtitle Lineheight (Mobile)",
              "min": 0.5,
              "max": 1.5,
              "step": 0.1,
              "default": 0.9
            },
            {
              "type": "textarea",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "range",
              "id": "title_size",
              "label": "Title Size (Desktop)",
              "min": 45,
              "max": 64,
              "step": 1,
              "default": 56
            },
            {
              "type": "range",
              "id": "title_size_mobile",
              "label": "Title Size (Mobile)",
              "min": 35,
              "max": 54,
              "step": 1,
              "default": 46
            },
            {
              "type": "range",
              "id": "title_lineheight",
              "label": "Title Lineheight (Desktop)",
              "min": 0.5,
              "max": 1.5,
              "step": 0.1,
              "default": 0.9
            },
            {
              "type": "range",
              "id": "title_lineheight_mobile",
              "label": "Title Lineheight (Mobile)",
              "min": 0.5,
              "max": 1.5,
              "step": 0.1,
              "default": 0.9
            },
            {
              "type": "url",
              "id": "destination",
              "label": "URL"
            }
          ]
        },
        {
          "name": "Image Banner",
          "type": "banner",
          "settings": [
            {
              "type": "image_picker",
              "id": "banner_image",
              "label": "Image"
            },
            {
              "type": "url",
              "id": "destination",
              "label": "URL"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hero",
          "settings": {
            "hero_mode": "slideshow_mode"
          }
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}