{{ 'component--latest-products.css' | asset_url | stylesheet_tag }}
{{ 'component--card-product.css' | asset_url | stylesheet_tag }}

<style>
    .latest-products-row {
        padding: 0 {{ section.settings.side_padding }}px;
        margin: 0 0 {{ section.settings.bottom_margin }}px 0;
    }
    .latest-products-row .section-nav .latest-loop-link {
        font-size: {{ section.settings.latest_products_title_size }}px;
    }
</style>

<div class="latest-products-row">

    {% comment %} 
    //==========================
    // NAV
    //==========================
    {% endcomment %}
    <div class="section-nav">
        <ul class="loop-link-list">
            {% for block in section.blocks %}
                <li class="latest-loop-link {% if forloop.first %} active-loop-link {% endif %}" data-link="{{ block.settings.latest_products_collection.url }}" data-collection="{{ block.settings.latest_products_collection.title | handleize }}">
                    {{ block.settings.latest_products_collection.title }}
                </li>
            {% endfor %}
        </ul>

        <div class="view-more">
            <a class="latest-more-link" href="{{ section.blocks[0].settings.latest_products_collection.url }}">
                {{ 'view more' | escape }}
            </a>
        </div>
    </div>

    {% comment %} 
    //==========================
    // PRODUCTS
    //==========================
    {% endcomment %}
    {% for block in section.blocks %}
        <ul class="latest-product-loop {% if forloop.first %} active-loop {% endif %}" data-products="{{ block.settings.latest_products_collection.title | handleize }}">
        
            {% for prod in block.settings.latest_products_collection.products %}
                {% render 'card--product', product: prod %}
            {% endfor %}
            
        </ul>
    {% endfor %}

</div>

<script>
    jQuery('.latest-loop-link').on('click', function() {
        var selected = jQuery(this).attr('data-collection');
        var selectedUrl = jQuery(this).attr('data-link');

        // Links
        jQuery('.latest-loop-link').removeClass('active-loop-link');
        jQuery(this).addClass('active-loop-link');

        jQuery('.latest-more-link').attr('href', selectedUrl);

        // Loops
        jQuery('.latest-product-loop').removeClass('active-loop');
        jQuery('.latest-product-loop[data-products="'+ selected +'"]').addClass('active-loop');

        console.log(selected);
    });
    
</script>


{% schema %}
    {
      "name": "Latest Products",
      "tag": "section",
      "class": "latest-products",
      "settings": [
        {
          "type": "text",
          "id": "latest_products_title",
          "label": "Title",
          "default": "Latest Products"
        },
        {
            "type": "range",
            "id": "latest_products_title_size",
            "label": "Title Size",
            "min": 24,
            "max": 64,
            "step": 1,
            "default": 44
        },
        {
          "type": "select",
          "id": "latest_products_amount",
          "label": "Amount to show",
          "default": "4",
          "options": [
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "8",
                "label": "8"
            },
            {
                "value": "12",
                "label": "12"
            }
          ]
        },
        {
            "type": "range",
            "id": "side_padding",
            "label": "Side Padding",
            "min": 0,
            "max": 24,
            "step": 1,
            "default": 12
        },
        {
            "type": "range",
            "id": "bottom_margin",
            "label": "Space Below",
            "default": 60,
            "min": 30,
            "max": 100,
            "step": 1
        }
      ],
      "blocks": [
        {
            "name": "Collection",
            "type": "collection",
            "limit": 3,
            "settings": [
                {
                    "type": "collection",
                    "id": "latest_products_collection",
                    "label": "Collection"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Latest Collections"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}