{{ 'component--marquee-text.css' | asset_url | stylesheet_tag }}

<style>
    .marquee-text {
        margin: 0 0 {{ section.settings.bottom_margin }}px 0;
    }

    .marquee .content {
        font-size: {{ section.settings.text_size }}px;
    }
</style>

<div class="marquee">
  <div class="track">
    <div class="content">
        &nbsp;{{ section.settings.marquee_text }} {{ section.settings.marquee_separator }} {{ section.settings.marquee_text }} {{ section.settings.marquee_separator }} {{ section.settings.marquee_text }} {{ section.settings.marquee_separator }} {{ section.settings.marquee_text }} {{ section.settings.marquee_separator }} {{ section.settings.marquee_text }} {{ section.settings.marquee_separator }}
    </div>
  </div>
</div>

{% schema %}
    {
      "name": "Marquee: Text",
      "tag": "section",
      "class": "marquee-text",
      "settings": [
        {
            "type": "text",
            "id": "marquee_text",
            "label": "Text",
            "default": "Free Shipping on orders over $50"
        },
        {
            "type": "text",
            "id": "marquee_separator",
            "label": "Separator",
            "default": "&bull;"
        },
        {
            "type": "range",
            "id": "text_size",
            "label": "Text Size",
            "min": 40,
            "max": 140,
            "step": 10,
            "default": 80
        },
        {
            "type": "range",
            "id": "bottom_margin",
            "label": "Space Below",
            "default": 60,
            "min": 30,
            "max": 100,
            "step": 1
        }
      ],
      "presets": [
        {
          "name": "Marquee: Text"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}