{{ 'component--product-blocks-slider.css' | asset_url | stylesheet_tag }}

<style>
    .product-blocks-slider-row {
        margin: 0 0 {{ section.settings.bottom_margin }}px 0;
        padding: 0 {{ section.settings.side_padding }}px;
    }
</style>

<div class="product-blocks-slider-row">


    <div class="swiper product-blocks-swiper">

        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <style>
                    .slide-headline {
                        font-size: {{ block.settings.headline_size }}px;
                    }
                </style>
                {% assign price = block.settings.product.price | money_without_trailing_zeros %}
                {% assign price_min = block.settings.product.price_min | money_without_trailing_zeros %}
                {% assign price_max = block.settings.product.price_max | money_without_trailing_zeros %}

                <div class="swiper-slide">
                    <div class="left">
                        <img width="100%" height="100%" src="{{ block.settings.product.featured_image | image_url: width: 800  }}" alt="{{ block.settings.product.image.alt }}" />
                    </div>
                    <div class="right">
                        <div class="top">
                            <h2 class="slide-headline">{{ block.settings.headline }}</h2>
                        </div>
                        <div class="bottom">
                            <div class="title">{{ block.settings.product.title }}</div>
                            {% if price_min < price_max %}
                                <div class="price">{{ price_min }} - {{ price_max }}</div>
                            {% else %}
                                <div class="price">{{ price }}</div>
                            {% endif %}

                            <div class="variant-picker">
                                {{ 'Pick a Variant' | escape }}{% render 'icon--arrow-thick-up-right' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="swiper-controls">
            <div class="swiper-button-prev">
                {% render 'icon--arrow-left' %}
            </div>
            <div class="swiper-button-next">
                {% render 'icon--arrow-right' %}
            </div>
        </div>

    </div>

</div>

{% schema %}
    {
      "name": "Product Blocks Slider",
      "tag": "section",
      "class": "product-blocks-slider",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
      ],
      "blocks": [
        {
            "type": "product",
            "name": "Product",
            "limit": 4,
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "textarea",
                    "id": "headline",
                    "label": "Headline",
                    "default": "Outerwear Collection Available Now"
                },
                {
                    "type": "range",
                    "id": "headline_size",
                    "label": "Headline Size",
                    "min": 20,
                    "max": 80,
                    "step": 1,
                    "default": 40
                },
                {
                    "type": "range",
                    "id": "side_padding",
                    "label": "Side Padding",
                    "min": 0,
                    "max": 24,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "bottom_margin",
                    "label": "Space Below",
                    "default": 60,
                    "min": 0,
                    "max": 100,
                    "step": 1
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Product Blocks Slider"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}