{{ 'component--testimonial-slider.css' | asset_url | stylesheet_tag }}

<style>
    .testimonials-row {
        margin: 0 0 {{ section.settings.bottom_margin }}px 0;
        padding: 0 {{ section.settings.side_padding }}px;
    }

    h2.testimonial-title {
        font-size: {{ section.settings.section_title_size }}px;
    }

    @media screen and (max-width: 767px) {
        h2.testimonial-title {
            font-size: var(--mobile-heading);
        }
    }
</style>

<div class="testimonials-row">

    <div class="top">
        <div class="title">
            <h2 class="testimonial-title">{{ section.settings.heading }}</h2>
        </div>
        <div class="slide-controls">
            <div class="slide-control swiper-button-prev">{% render 'icon--arrow-left' %}</div>
            <div class="slide-control swiper-button-next">{% render 'icon--arrow-right' %}</div>
        </div>
    </div>


    <div class="testimonial-swiper--desktop testimonials-desktop swiper">
        <div class="swiper-wrapper">
            
            {% for block in section.blocks %}
                <div class="swiper-slide testimonial">
                    <div class="text">
                        {{ block.settings.text }}
                    </div>
                    <div class="author">
                        {{ block.settings.author }}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="testimonial-swiper--mobile testimonials-mobile swiper">
        <div class="swiper-wrapper">
            
            {% for block in section.blocks %}
                <div class="swiper-slide testimonial">
                    <div class="text">
                        {{ block.settings.text }}
                    </div>
                    <div class="author">
                        {{ block.settings.author }}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

</div>

{% schema %}
    {
      "name": "Testimonials",
      "tag": "section",
      "class": "testimonials",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Testimonials"
        },
        {
            "type": "range",
            "id": "section_title_size",
            "label": "Title Size",
            "min": 20,
            "max": 64,
            "step": 1,
            "default": 46
        },
        {
            "type": "range",
            "id": "side_padding",
            "label": "Side Padding",
            "min": 0,
            "max": 24,
            "step": 1,
            "default": 12
        },
        {
            "type": "range",
            "id": "bottom_margin",
            "label": "Space Below",
            "default": 60,
            "min": 0,
            "max": 100,
            "step": 1
        }
      ],
      "blocks": [
        {
            "type": "testimonial",
            "name": "Testimonial",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "author",
                    "label": "Author"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Testimonials"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}